td {
  border-left: 1px solid black;
  border-top: 1px solid black;
  width: 20px;
  height: 20px;
}

td:last-child {
  border-right: 1px solid black;
}


tr:last-child td {
  border-bottom: 1px solid black;
}

tr, td {
  padding: 0;
  margin: 0;
}

table {
  float: left;
  border-spacing: 0;
  margin-right: 4em;
}

.scoreboard td:first-child {
  width: 50px;
  border: none;
}

.treffer {
  background-color: red;
}

.daneben {
  background-color: grey;
}

.schiff {
  background-color: black;
}

.schiff[data-batt='1'] {
  background: url(/img/batt1.gif) 0 0;
}

.schiff[data-batt='2'] {
  background: url(/img/batt2.gif) 0 0;
}

.schiff[data-batt='3'] {
  background: url(/img/batt3.gif) 0 0;
}

.schiff[data-batt='4'] {
  background: url(/img/batt4.gif) 0 0;
}

.schiff[data-batt='5'] {
  background: url(/img/batt5.gif) 0 0;
}

.wasser {
  background-color: blue;
  background: url(/img/wasser.jpg) 0 0;
}

.status {
  clear:both;
  position: absolute;
  left: 300px;
  top: 250px;

}

#gegner td:hover{
  opacity: 0.4;
  cursor: pointer;
}

.markiert {
  opacity: 0.5;
  background-color: #00ff00;
}
